<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>扫码支付</title>
    <link href="../img/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <meta name="keywords" content="&#x626B;&#x7801;&#x652F;&#x4ED8;">
    <meta name="description" content="&#x626B;&#x7801;&#x652F;&#x4ED8;">
    <meta name="hotcss" content="initial-dpr=1">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />

    <!-- 引入项目css资源文件,并配置构建地址演示 -->
    <script src="../js/flexible-css.js"></script>
    <link  rel="stylesheet" href="../css/payStyle.css?">
</head>
<body>
<div class="pay-order">
     <div class="list-box">
        <div class="list">
            <div class="pay-content l-button learfix">
                <span class="t-price">openid：</span>
                <input name="openid" value="$!{openid}" />
            </div>
        </div>
     </div>
    <button type="submit" class="btn" id="submit">转唤起收银台</button>
    <div class="model" id="model">
    <div class="model-box">
        <div class="m-title">
            <p id="t-model"></p>
        </div>
        <div class="m-sure" onclick="next()">
            <p>好</p>
        </div>
    </div>
</div>

    <script>
        var domain = window.location.host;
        function next(){
            window.location.href = "http://"+domain+"/demo/qrcode/open.htm";
        }

    </script>
</div>
<script src="../js/jquery.min.js"></script>
<script src="../js/antbridge.min.js?"></script>
<script src="../js/jweixin-1.0.0.js?"></script>
<script src="../busi-js/static.js"></script>



</body>
</html>
