@CHARSET "UTF-8";

.mybtn:hover {
	background: #93ff93;
}
.mybtn {
	background: #87CEEB;
}
.mybtn[disabled] {
	background: #A9A9A9;
}
.myinput:hover {
	background: #B0C4DE;
}

.inputBTN{
	background:#87CEEB;

	position:absolute;

	left:1200px;

	top:20px;

}